<div class="flex items-center justify-between px-4 py-3 bg-zinc-300">
  <a [routerLink]="['']">
    <fa-icon [icon]="['fas', 'house']" [classes]="['text-xl']"></fa-icon
  ></a>

  <a [routerLink]="['']"
    ><fa-icon [icon]="['fas', 'compass']" [classes]="['text-xl']"></fa-icon
  ></a>

  <a [routerLink]="['']"
    ><fa-icon [icon]="['fas', 'book']" [classes]="['text-xl']"></fa-icon
  ></a>

  <a [routerLink]="['']"
    ><fa-icon [icon]="['fas', 'user-gear']" [classes]="['text-xl']"></fa-icon
  ></a>
</div>
