<div
  class="flex items-center justify-between px-4 py-3 border-2 border-rose-500"
>
  <div class="border-2 border-rose-500">
    <a [routerLink]="['']"> <fa-icon [icon]="['fas', 'house']"></fa-icon></a>
  </div>
  <div>
    <a [routerLink]="['']"><fa-icon [icon]="['fas', 'compass']"></fa-icon></a>
  </div>
  <div>
    <a [routerLink]="['']"><fa-icon [icon]="['fas', 'book']"></fa-icon></a>
  </div>
  <div>
    <a [routerLink]="['']"><fa-icon [icon]="['fas', 'user-gear']"></fa-icon></a>
  </div>
</div>
